* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  width: 100vw;
  height: 44px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  font-family: inter;
}
.header2 {
  width: 100vw;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.background {
  width: 100vw;
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.bg-1 {
  width: 100vw;
  height: 692px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  border: solid green 3px;
  align-items: center;
}
.bg-1 img {
  height: 100%;
  width: 100%;
}
.front1 {
  position: absolute;

  width: 405px;
  height: 172px;
  gap: 20px;
  padding-top: 3%;
}
.p1 {
  font-size: 52px;
  color: rgba(245, 245, 247, 1);
  font-weight: 600;
  display: flex;
  justify-content: center;
  letter-spacing: -0.28px;
  padding: bottom 16px;
  font-family: inter, sans-serif;
}
.p2 {
  font-size: 24px;
  color: rgba(245, 245, 247, 1);
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: inter, sans-serif;
}
.button {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.button-blue {
  width: 123px;
  height: 44px;
  background-color: rgba(0, 113, 227, 1);
  color: white;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-white {
  width: 68px;
  height: 44px;
  color: rgba(41, 151, 255, 1);
  border: solid rgba(41, 151, 255, 1) 1px;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-blue p {
  font-size: 16px;
  font-family: inter, sans-serif;
}
.button-white1 {
  width: 123px;
  height: 44px;
  background-color: rgb(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-tr {
  width: 68px;
  height: 44px;
  color: rgba(41, 151, 255, 1);
  border: solid rgb(255, 255, 255, 1) 1px;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255, 1);
}
.bg-1-3 {
  width: 100vw;
  height: 692px;
  display: flex;
  flex-direction: column;
  border: solid green 3px;
  align-items: center;
  justify-content: flex-end;
}
.bg-1-3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.front3 {
  position: absolute;
  width: 405px;
  height: 164px;
  gap: 20px;
  padding-bottom: 11%;
  display: flex;
  flex-direction: column;
}
.p3 {
  font-size: 52px;
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
  display: flex;
  justify-content: center;
  font-style: bold;
  font-family: inter, sans-serif;
}
.p4 {
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  display: flex;
  justify-content: center;
  font-family: inter, sans-serif;
}
.background2 {
  width: 100%;
  height: 1764px;
  border: solid red 3px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.bg-2 {
  /* width: 50vw; */
  height: 580px;
  border: solid green 3px;
  display: flex;
  justify-content: center;
}

.bg-2 img {
  width: 100%;
  height: 100%;
}
.container-2-1 {
  width: 322px;
  height: 146px;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 58px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.container-2-1 img {
  width: 160px;
  height: 33px;
}

.p-2-1 {
  font-size: 18px;
  font-weight: 400;
  font-family: inter, sans-serif;
}
.b-2-1 {
  padding-top: 10px;
}
.property-2 {
  display: flex;
  align-items: end;
}
.container-2-2 {
  width: 322px;
  height: 146px;
  border: solid yellow 3px;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 58px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 50px;
}
.p-2-2-1 {
  font-size: 36px;
  font-weight: 600;
  color: rgba(245, 245, 247, 1);
  font-family: inter, sans-serif;
}
.p-2-2-2 {
  font-size: 18px;
  font-weight: 400;
  color: rgba(245, 245, 247, 1);
  font-family: inter, sans-serif;
}
