* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  width: 100vw;
  height: 44px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  font-family: inter;
  background-color: #f5f5f7cc;
}
.header p {
  font-size: 12px;
  font-weight: 400;
}
.header2 {
  width: 100vw;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.header2 p {
  font-size: 14px;
  font-weight: 400;
  font-family: inter sans-serif;
}
.bg1 {
  width: 100vw;
  border: solid 3px red;
}
.gradient {
  width: 100%;
  height: 75px;
  background-color: linear-gradient(
    rgba(1, 159, 251, 1),
    rgba(253, 140, 31, 1)
  );
}
