* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  width: 100vw;
  height: 44px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  font-family: inter;
  background-color: #f5f5f7cc;
  position: fixed;
}
.header p {
  font-size: 12px;
  font-weight: 400;
}
.header2 {
  width: 100vw;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding-top: 60px;
}
.header2 p {
  font-size: 14px;
  font-weight: 400;
  font-family: inter sans-serif;
}
.bg1 {
  width: 100vw;
}
.section1-1 {
  width: 100%;
}
.section1-1 img {
  width: 100%;
}
.section1-2 {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  padding-left: 140px;
  padding-right: 140px;
  justify-content: space-between;
}
.tcontainer1 {
  width: 655px;
  height: 52px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.tcontainer1 p {
  font-size: 44px;
  font-weight: 700;
  font-family: inter;
  font-style: bold;
}
.p1-2-1 {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 50%,
    #f2416b 100%
  );

  padding-right: 32px;
}
.p1-2-2 {
  color: rgba(110, 110, 115, 1);
}

.tcontainer2 {
  width: 226px;
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.tcontainer2 img {
  width: 35px;
  height: 35px;
}
.tcontainer2-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.tcontainer2-1-1 {
  gap: 4px;
}
.p1-2-2-1 {
  font-size: 14px;
  font-weight: 700;
  font-style: bold;
  color: rgba(29, 29, 31, 1);
}
.p1-2-2-2 {
  font-size: 14px;
  font-weight: 400;
  font-style: bold;
  color: rgba(0, 102, 204, 1);
}
.bg2 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding-left: 140px;
  padding-right: 140px;
  border-radius: 18px;
}
.productcont {
  width: 136px;
  height: 146px;
  padding: 16px 8px 16px 8px;
}
.productcont img {
  object-fit: cover;
  width: 120px;
  height: 78px;
}
.productcont p {
  font-size: 14px;
  font-weight: 700;
  font-style: bold;
  font-family: inter;
  justify-self: center;
  padding-top: 16px;
}
.bg3 {
  width: 100vw;
  height: 558px;
  padding-left: 140px;
  padding-right: 140px;
}
.bg3-1 {
  width: 700px;
  height: 34px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.bg3-1 p {
  font-size: 24px;
  font-weight: 700;
  font-family: inter;
  font-style: bold;
}
.p3-1-1 {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 50%,
    #f2416b 100%
  );
}
.p3-1-2 {
  color: rgba(110, 110, 115, 1);
}
.bg3-2 {
  width: 100vw;
  height: 500px;
  overflow: hidden;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-right: 140px;
}
.cont3-2-1 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  padding: 30px;
  position: relative;
}
.cont3-2-1 img {
  width: 440px;
  height: 440px;
  object-fit: cover;
  border-radius: 18px;
}
.textbox {
  width: 480px;
  height: 322px;
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  row-gap: 12px;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 30px;
}
.product-name {
  font-size: 26px;
  font-weight: 700;
  font-family: inter, serif;
}
.product-name4-2 {
  font-size: 18px;
  font-weight: 700;
  font-family: inter, serif;
  font-style: bold;
}
.product-description {
  font-size: 16px;
  font-family: inter, serif;
}
.product-price {
  font-size: 16px;
  font-family: inter, serif;
}
.text-white {
  color: #fff !important;
}

.bg4 {
  width: 100vw;
  height: 558px;
  padding-left: 140px;
  /* padding-right: 140px; */
  display: flex;
  flex-direction: column;
}
.bg4-2 {
  width: 100%;
  height: 500px;
  overflow: hidden;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-right: 140px;
}
.cont4-2-1 {
  width: 400px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  position: relative;
}
.cont4-2-1 img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  border-radius: 18px;
}
.textbox4-1 {
  width: 250px;
  height: 66px;
  position: absolute;
  top: 25px;
  left: 15px;
  display: flex;
  row-gap: 12px;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 30px;
}
.product-name4-1 {
  font-size: 26px;
  font-weight: 700;
  font-family: inter, serif;
}
.cont4-2-2 {
  width: 313px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  padding: 30px;
  position: relative;
  padding-top: 60px;
}
.cont4-2-2 img {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 18px;
  padding-top: 41px;
  padding-left: 11.5px;
}
.colorbox {
  width: 253px;
  height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.colorbox img {
  width: 12px;
  height: 12px;
  object-fit: contain;
  padding: 0px;
}
.product-type {
  color: rgba(182, 68, 0, 1);
  font-size: 12px;
  font-weight: 700;
  font-family: inter;
}
.textbox4-2 {
  width: 257px;
  height: 109px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.textbox4-3 {
  width: 257px;
  height: 109px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 58px;
}
.textbox4-3-1 {
  width: 257px;
  height: 109px;
  display: flex;
  flex-direction: column;
}
.textbox5-1 {
  width: 326px;
  height: 66px;
  position: absolute;
  top: 25px;
  left: 15px;
  display: flex;
  row-gap: 12px;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 30px;
}
.cont5-2-2 {
  width: 313px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  padding: 30px;
  position: relative;
  padding-top: 60px;
}
.cont5-2-2 img {
  width: 230px;
  height: 230px;
  object-fit: contain;
  border-radius: 18px;
  padding-top: 41px;
  padding-left: 11.5px;
}
.colorbox5 {
  width: 253px;
  height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.colorbox5 img {
  width: 12px;
  height: 12px;
  object-fit: contain;
  padding: 0px;
}
.textbox5-2-2 {
  padding-top: 16px;
}
.cont6-2-1 {
  width: 313px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cont6-2-2-1 {
  width: 313px;
  height: 240px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 60px;
}
.cont6-4 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  position: relative;
  padding-top: 60px;
}
.cont6-4 img {
  width: 480px;
  height: 500px;
  object-fit: contain;
  border-radius: 18px;
  padding-top: 41px;
  padding-left: 11.5px;
}
.producttrade {
  font-size: 12px;
  font-weight: 700;
  font-family: inter, serif;
  font-style: bold;
  color: rgba(110, 110, 115, 1);
}
.textbox7-1 {
  width: 259px;
  height: 66px;
  position: absolute;
  top: 25px;
  left: 15px;
  display: flex;
  row-gap: 12px;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 30px;
}
.textbox7-2 {
  width: 442px;
  height: 66px;
  position: absolute;
  top: 25px;
  left: 15px;
  display: flex;
  row-gap: 12px;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 30px;
}
.textbox8-1 {
  width: 330px;
  height: 66px;
  position: absolute;
  top: 25px;
  left: 15px;
  display: flex;
  row-gap: 12px;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 30px;
}
.bg8 {
  width: 100vw;
  height: 590px;
  padding-left: 140px;
  /* padding-right: 140px; */
  display: flex;
  flex-direction: column;
}
.bg8-2 {
  width: 100%;
  height: 500px;
  overflow: hidden;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-right: 140px;
  margin-top: 32px;
}
.bg8-1 {
  width: 831px;
  height: 34px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.bg8-1 p {
  font-size: 24px;
  font-weight: 700;
  font-family: inter;
  font-style: bold;
}
.bg9 {
  width: 100vw;
  height: 96px;
  padding-left: 140px;
  /* padding-right: 140px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 30pxg;
}
.last {
  width: 125px;
  height: 40px;
  border-radius: 99px;
  border: solid 1px black;
  gap: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bg9-1 {
  width: 100vw;
  height: 20px;
  padding-left: 140px;
  /* padding-right: 140px; */
  display: flex;
  flex-direction: row;
}
.last {
  background-color: transparent;
}
.last img {
  width: 8px;
  height: 8px;
}
